<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Martin Sütt</title>
  <style>
    body {
        background-color: rgb(143, 143, 143);
        height: 200vh;
     }
   .accordion {
       background-color: rgb(199, 7, 11);
       color: #444;
       cursor: pointer;
       padding: 18px;
       width: 100%;
       text-align: left;
       border: none;
       outline: none;
       transition: 0.4s;
     }
     .active .accordion:hover {
       background-color: #ffffff;
     }
     .accordion:after {
       content: "\002B";
       color: #777;
       font-weight: bold;
       float: right;
       margin-left: 5px;
     }
     .active:after {
       content: "\2212";
     }
     .panel {
       padding: 0 18px;
       background-color: rgb(255, 63, 63);
       max-height: 0;
       overflow: hidden;
       transition: max-height 0.2s ease-out;
     }
   </style>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Martin Sütt</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
</p>
<p> Semestri alguse/lõpuni:</p>
<p> <%= semestrist %> </p>
<hr>
<% if (latestNews) { %>
  <h2>Värskeim uudis</h2>
  <h3><%= latestNews.news_title %></h3>
  <p>Lisamise kuupäev: <%= latestNews.news_date %></p>
  <p>Aegumiskuupäev: <%= expired %></p>
  <pre>Sisu: <%= latestNews.news_text %></pre>
<% } else { %>
    <p>Uudiseid pole :D</p>
<% } %>
  <hr>
  <button class="accordion">mis siin on</button>
  <div class="panel">
    <ul>
        <li><a href="/logout">Logi välja</a></li>
        <li><a href="/timenow">Ajainfo</a></li>  <!---->
        <li><a href="/vanasonad">Vanasõnad</a></li> <!---->
        <li><a href="/regvisit">Registreeri oma külastus (txt põhine)</a></li>
        <li><a href="/regvisitdb">Registreeri oma külastus</a></li>
        <li><a href="/visitlog">Vaata külastajate nimekirja</a></li>
        <li><a href="/visitlogdb">Vaata külastajate nimekirja andmebaasis</a></li>
        <li><a href="/eestifilm">Eesti film</a></li>
        <li><a href="/news">Loe uudiseid</a></li> <!---->
        <li><a href="/addnews">Lisa uudis</a></li>
        <li><a href="/photoupload">Lae üles galeriipilt</a></li>
        <li><a href="/thumbgallery">Avalik pöidlapiltide galerii</a></li> <!---->
    </ul>
</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
</body>
</html>