<!DOCTYPE html>
<html lang="et">
  <head>
    <style>
      body {
        background-color: rgb(255, 180, 95);
      }
    </style>
    <meta charset="utf-8" />
    <title>Martin Sütt</title>
    <link rel="stylesheet" href="/style/gallery.css" />
    <link rel="stylesheet" href="/style/modal.css" />
    <script src="/script/gallery.js" defer></script>
  </head>
  <body>
    <img
      src="/banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse bänner"
    />
    <h1>Martin Sütt</h1>
    <p>
      See leht on loodud õppetöö raames
      <a href="https://www.tlu.ee" target="blank">Tallinna Ülikoolis</a> ja ei
      sisalda tõsiseltvõetavat sisu.
    </p>
    <hr />
    <ul>
      <li><a href="/home">Avaleht</a></li>
    </ul>
    <hr />
    <dialog id="modal" class="modalarea">
      <span id="modalClose" class="modalClose">&times;</span>
      <div class="modalhorizontal">
        <div class="modalvertical">
          <p id="modalCaption"></p>
          <img id="modalImage" src="/pics/empty.png" alt="galeriipilt" />
        </div>
      </div>
    </dialog>
    <h2>Pöidlapiltide galerii</h2>
    <p><%- links %></p>
    <div id="gallery" class="gallery">
      <% listData.forEach(function(image){ %>
      <img
        src="<%= image.href %><%= image.filename %>"
        alt="<%= image.alt %>"
        class="thumbs"
        data-filename="<%= image.fileName %>"
      />
      <% }); %>
    </div>
  </body>
</html>
